@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  user-select: none;
}
body {
  font-size: 14px;
  line-height: 1.286;
  font-weight: 400;
}
ul {
  list-style: none;
}
button,
a {
  cursor: pointer;
}
.trimmer-container {
  width: 100%;
  max-width: 930px;
  padding: 0px 15px;
  margin: 0 auto;
}
.center-align {
  padding-top: 30px;
  text-align: center;
}
.video-upload-input-form {
  height: 100%;
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video-upload-wrapper {
  display: flex;
  justify-content: center;
}
#results,
#results tr,
#results td {
  border: 1px solid #47c7ef;
}
#results {
  width: 100%;
  border-collapse: collapse;
}
#results thead th {
  text-align: left;
  padding: 15.5px 18.5px;
  font-size: 13px;
  font-weight: 600 !important;
  line-height: 1.334;
  border: 1px solid #47c7ef;
  color: #007ec4;
  text-transform: capitalize;
  letter-spacing: 1px;
}
#results td {
  padding: 20px;
  color: black;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.trimmed-videos {
  padding-top: 43px !important;
  padding-bottom: 23px !important;
}
#results .duration {
  width: 106px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.334;
  color: rgb(0, 30, 80);
  text-align: center;
}
.video-preview-option {
  width: 329px;
}
.video-edit-name {
  width: 272px;
}
.options {
  width: 136px;
}
#results thead th:nth-child(4),
#results thead th:nth-child(3) {
  text-align: center;
}
.results-table-wrapper {
  height: 100%;
  min-height: 600px;
}
.results-table-wrapper .trimmer-container {
  padding-bottom: 30px;
}
.trimming-value {
  padding-top: 20px;
}
.update-trimmed-video-name {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.334;
  color: rgb(0, 30, 80);
  border: 1px solid #47c7ef;
}
.update-trimmed-video-name:focus {
  outline: unset;
}
.edit-name {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.trimmed-videoname {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.357;
  color: #001e50;
}
.edit-toggle button {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.334;
  color: #fff;
  border: none;
  align-items: center;
  padding: 5px;
  background-color: #003087;
  border-radius: 4px;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  margin-top: 5px;
}
.video-trimming-options {
  text-align: center;
}
.options .video-trimming-options button,
.options .video-trimming-options a {
  display: inline-block;
}
.view-video {
  width: 100%;
}
.video-duration {
  position: relative;
  height: 10px;
  background-color: #47c7ef;
  cursor: pointer;
}
.grabber {
  position: absolute;
  top: -4px;
  bottom: -4px;
  width: 18px;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: #47c7ef;
}
.progress {
  background-color: #003087;
  position: absolute;
  top: 0;
  bottom: 0;
}
#player-controls {
  text-align: center;
  padding: 5px;
}
.break-point-text {
  user-select: none;
}
.filepond--root .filepond--credits {
  display: none !important;
}
.filepond--wrapper {
  display: flex;
  justify-content: center;
}
.filepond--root {
  width: 100%;
  max-width: 822px;
}
.filepond--panel-root {
  background-color: transparent;
}
.video-upload-wrapper .file-upload-title p,
.loader-container p {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #007ec4;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin: 0;
}
.file-upload-options p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.308;
  color: #001e50;
  padding-bottom: 10px;
  margin: 0;
}
.progress-bar {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #007ec4;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin: 0;
}
.video-upload-wrapper .filepond--label-action {
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 10px 20px;
  background-color: #007ec4;
  border: 1px solid #007ec4;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px;
}
.filepond--label-action:hover {
  background-color: #fff;
  color: #007ec4;
}
.error-message {
  font-size: 16px;
  line-height: 1.25;
  color: #d91656;
  text-align: center;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #47c7ef;
}
.modal-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: end;
  column-gap: 10px;
  border-top: 1px solid #47c7ef;
}
.modal-heading h1 {
  color: #007ec4;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1.474;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.modal-button {
  border: 1px solid #003087;
  background-color: #003087;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.307;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}
.modal-button:hover {
  color: #003087;
  background-color: #fff;
}
.video-upload-instructions {
  padding-top: 10px;
}
.video-upload-instructions p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.667;
  text-align: center;
  color: #001e50;
  margin: 0;
}
.trimmer-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1200px;
  max-height: 90vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999999;
  background: transparent linear-gradient(180deg, #c8eefa 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #47c7ef;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* .trimmer-modal.skilltriks {
  left: calc(50% + 80px);
  top: calc(50% + 15px);
} */
.modal-content {
  flex: 1;
  overflow-y: auto;
  padding: 0 20px;
  scrollbar-width: thin;
  scrollbar-color: #003087 #d8d6d7;
}
@media (min-width: 1280px) {
  .trimmer-modal {
    width: 85%;
    max-width: 1030px;
    height: 85vh;
  }
  .modal-content {
    padding: 0 30px;
  }
}
@media (max-width: 1279px) and (min-width: 1024px) {
  .trimmer-modal {
    width: 90%;
    max-width: 930px;
    height: 90vh;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .trimmer-modal {
    width: 95%;
    max-width: 830px;
    height: 95vh;
  }
}
.modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #47c7ef;
  flex-shrink: 0;
}
.modal-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  border-top: 1px solid #47c7ef;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .trimmer-modal {
    width: 98%;
    height: 98vh;
    max-height: 100%;
    margin: 0;
    border-radius: 0;
  }
  .modal-header,
  .modal-footer {
    padding: 10px 15px;
  }

  .modal-heading h1 {
    font-size: 18px;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99999;
}
.hide-content {
  display: none;
}
.modal-close-button {
  display: flex;
  align-items: center;
}
.modal-close-button button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.video-trimmer {
  padding-bottom: 30px;
}
.video-player {
  padding-top: 30px;
}
.video-wrapper {
  height: 400px;
}
.video-wrapper video {
  height: 100%;
  object-fit: cover;
}
.video-timeline {
  display: flex;
  justify-content: space-between;
  padding: 23px 0px;
}
.video-player-heading {
  display: flex;
  align-items: center;
  cursor: default;
}
.video-player-heading h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.313;
  color: #007ec4;
  text-transform: capitalize;
  margin: 0;
  cursor: default;
}
.video-player-options button,
.video-player-options a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid#007ec4;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  background-color: #007ec4;
  line-height: 1.307;
  color: #fff;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.video-player-options button:hover,
.video-player-options a:hover {
  color: #007ec4;
  background-color: #fff;
}
.sliders-container {
  padding: 30px 0px;
  cursor: default;
}
.sliders-container li {
  margin: 0;
}
.video-name h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.143;
  letter-spacing: 1px;
  color: #007ec4;
  text-transform: capitalize;
  margin: 0;
}
.video-time {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.231;
  color: #003087;
}
.video-details-and-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #47c7ef;
  padding: 10px;
  cursor: default;
}
.video-information {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.add-spacing {
  position: relative;
  top: 40px;
  padding-bottom: 20px;
}

.loader-container {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.loading {
  border: 6px solid #0f5aa7;
  border-right: 6px solid #7dd3fc;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  animation: loaderAnimation 1s ease-in-out infinite;
}
.no-scroll {
  overflow: hidden;
}
#select_items {
  max-width: 500px;
}

@keyframes loaderAnimation {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .video-upload-wrapper .file-upload-title p,
  .loader-container p {
    font-size: 20px;
    line-height: 1;
  }
  .modal-content {
    padding: 0 10px;
  }
  .trimmed-videos {
    padding: 25px 0 !important;
  }
  #results thead th,
  #results td {
    padding: 10px 18px;
  }
}
